<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>GET</h1>
    <a href="/Categories/Create">ADD</a>
    @foreach(var item in Model)
    {
        <h3>@item.Name</h3>
        <a href="/Categories/Details/@item.Id">details</a>
        <a href="/Categories/Delete/@item.Id">Delete</a>
        <a href="/Categories/Edit/@item.Id">Edit</a>
    }
</body>
    </html>