<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <h1>This is Create</h1>
    <a href="/Employee/Index">Go to Index</a>
    <a href="/Employee/Edit">Go to Edit</a>
    </body>
    </html>