<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    <h1>This is Edit</h1>
    <a href="/Employee/Index">Go to Index</a>
    <a href="/Employee/Create">Go to Create</a>
    </body>
    </html>